<div class="team-game">
    <div class="game-info">
        <span id="game-date">{{date}}</span>
        <span id="game-opponent">{{opponent}}</span>
        <span id="game-location">{{location}}</span>
        <span id="game-result">{{result}}</span>
    </div>
</div>