<div class="stat">
                            <div class="stat-info">
                                <span id="stat-type">{{stat}}</span>
                                <span id="stat-val">{{val}}</span>
                            </div>
                        </div>